.calculator {
    display: grid;
    grid-template: 3fr / 1fr;
    gap: 2rem;

    &__header {
        background-color: darkblue;
        border-radius: 0.5rem;
        margin: 0 auto;
        width: 33rem;
        height: 3rem;
    }

    &__display {
        background-color: darkblue;
        border-radius: 0.5rem;
        margin: 0 auto;
        width: 33rem;
        height: 5rem;
    }
    
    &__buttons {
        background-color: darkblue;
        margin: 0 auto;
        width: 30rem;
        padding: 1.5rem;
        display: grid;
        grid-template: repeat(5, 1fr) / repeat(4, 1fr);
        gap: 1rem;
        border-radius: 0.5rem;
    }
    
}

