.multi-radio-toggle{

    $t: &;
    
    position:relative;
    background: #eee;
    margin: 20px auto 80px;
    padding: 0 !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 30px;
    box-shadow:inset 1px 1px 4px rgba(0, 0, 0, 0);

    &__slide-bg{
        width: 36px;
        height: 36px;
        position: absolute;
        top: -3px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        -ms-transition: all .4s ease;
        transition: all .4s ease;

        #{$t} input:checked ~ & {
            background: #db159e;
        }

        #{$t} input:nth-child(1):checked ~ & {
            left: -3px;
        }

        #{$t} input:nth-child(2):checked ~ & {
            left: 27px;
        }

        #{$t} input:nth-child(3):checked ~ & {
            left: 63px;
        }
    }

    &__label{

        position:absolute;
        z-index:99;

        display:block;
        margin:0;
        line-height: 30px;
        font-size: 16px;
        
        width: 30px;
        height: 30px;
        margin: 0;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        cursor: pointer;
        z-index: 1;
        text-align: center;
        width: 70px;

        & p{
            display:block;
            margin:0;
            line-height: 30px;
            font-size: 16px;
        }

        &:nth-of-type(1){
            left: -55px;
            width: 80px;
            text-align:left;
        }

        &:nth-of-type(2){
            text-align:center;
            width: 40px;
            left: 50%;
            margin-left: -20px;
        }

        &:nth-of-type(3){
            right: -55px;
            text-align:right;
            width: 80px;
        }

        &--align-bottom p {
            display:block;
            margin-top: 30px;
        }
    }

    &--three{
        width: 90px;
    }

    & input[type=radio]{
        display: none;
    }
}
