.multi-radio-toggle{

    $t: &;
    
    position:relative;
    background: $element-bg;
    margin: 20px auto 80px;
    padding: 0 !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 30px;
    box-shadow:inset 1px 1px 4px rgba(0, 0, 0, 0);

    &__slide-bg{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 5px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        -ms-transition: all .4s ease;
        transition: all .4s ease;

        #{$t} input:checked ~ & {
            background: $key-red-bg;
        }

        #{$t} input:nth-child(1):checked ~ & {
            left: -3px;
        }

        #{$t} input:nth-child(2):checked ~ & {
            left: 27px;
        }

        #{$t} input:nth-child(3):checked ~ & {
            left: 63px;
        }
    }

    &__label{
        color: white;
        position:absolute;
        z-index:99;

        display:block;
        margin:0;
        line-height: 30px;
        font-size: 16px;
        
        height: 30px;
        margin: 0;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        cursor: pointer;
        text-align: center;
        & p{
            display:block;
            margin:0;
            line-height: 30px;
            font-size: 16px;
        }

        &:nth-of-type(1){
            top: -25px;
            text-align:left;
            width: 10px;
        }

        &:nth-of-type(2){
            text-align:center;
            top: -25px;
            left: 50%;
            width: 10px;
        }

        &:nth-of-type(3){
            text-align:right;
            width: 10px;
            top: -25px;
            right: 5px;
        }

        &--align-bottom p {
            display:block;
            margin-top: 30px;
        }
    }

    & input[type=radio]{
        display: none;
    }
    
    &--three{
        width: 90px;
    }

}
