.body {
    background: var(--main-bg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: $font-main;
    font-weight:  $font-weight;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: var(--key-text-color);
}
.attribution a { 
    color: white;
}