.body {
    background: var(--main-bg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: $font-main;
    font-weight:  $font-weight;
}