/* backgrounds */
/* fonts */
.calculator {
  display: grid;
  grid-template: 3fr/1fr;
  gap: 2rem;
}
.calculator__header {
  background-color: darkblue;
  border-radius: 0.5rem;
  margin: 0 auto;
  width: 33rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
}
.calculator__name {
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
}
.calculator__display {
  background-color: hsl(224deg, 36%, 15%);
  border-radius: 0.5rem;
  margin: 0 auto;
  width: 33rem;
  height: 5rem;
}
.calculator__previous-operand {
  color: white;
  font-size: 1.2rem;
}
.calculator__current-operand {
  color: white;
  font-size: 2rem;
}
.calculator__buttons {
  background-color: hsl(223deg, 31%, 20%);
  margin: 0 auto;
  width: 30rem;
  padding: 1.5rem;
  display: grid;
  grid-template: repeat(5, 1fr)/repeat(4, 1fr);
  gap: 1rem;
  border-radius: 0.5rem;
}

.button {
  background-color: aliceblue;
  color: black;
  height: 3rem;
  font-size: 2rem;
  box-shadow: 0 0.25rem rgb(151, 151, 138);
  border-radius: 0.5rem;
  border: none;
}
.button:hover {
  background-color: white;
  cursor: pointer;
}
.button:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.15rem rgb(151, 151, 138);
}
.button--delete, .button--reset {
  background-color: rgb(6, 6, 158);
  color: white;
}
.button--delete:hover, .button--reset:hover {
  background-color: rgb(86, 86, 175);
}
.button--delete {
  grid-column: 4/5;
  grid-row: 1/2;
}
.button--reset {
  grid-column: 1/3;
  grid-row: 5/6;
}
.button--equal {
  grid-column: 3/5;
  grid-row: 5/6;
  background-color: rgb(158, 16, 6);
  color: white;
}
.button--equal:hover {
  background-color: rgb(175, 86, 86);
}
.button--plus {
  grid-column: 4/5;
  grid-row: 2/3;
}
.button--minus {
  grid-column: 4/5;
  grid-row: 3/4;
}
.button--multiply {
  grid-column: 4/5;
  grid-row: 4/5;
}
.button--dot {
  grid-column: 1/2;
  grid-row: 4/5;
}
.button--divide {
  grid-column: 3/4;
  grid-row: 4/5;
}

.multi-radio-toggle {
  position: relative;
  background: #eee;
  margin: 20px auto 80px;
  padding: 0 !important;
  border-radius: 50px;
  height: 30px;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0);
}
.multi-radio-toggle__slide-bg {
  width: 36px;
  height: 36px;
  position: absolute;
  top: -3px;
  border-radius: 50px;
  transition: all 0.4s ease;
}
.multi-radio-toggle__label {
  position: absolute;
  z-index: 99;
  display: block;
  margin: 0;
  line-height: 30px;
  font-size: 16px;
  width: 30px;
  height: 30px;
  margin: 0;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  text-align: center;
  width: 70px;
}
.multi-radio-toggle__label p {
  display: block;
  margin: 0;
  line-height: 30px;
  font-size: 16px;
}
.multi-radio-toggle__label:nth-of-type(1) {
  left: -55px;
  width: 80px;
  text-align: left;
}
.multi-radio-toggle--two {
  width: 60px;
}

.multi-radio-toggle input[type=radio] {
  display: none;
}

.multi-radio-toggle--two .multi-radio-toggle__label:nth-of-type(2) {
  right: -55px;
  text-align: right;
  width: 80px;
}

.multi-radio-toggle input:checked ~ .multi-radio-toggle__slide-bg {
  background: #db159e;
}

.multi-radio-toggle input:nth-child(1):checked ~ .multi-radio-toggle__slide-bg {
  left: -3px;
}

.multi-radio-toggle input:nth-child(2):checked ~ .multi-radio-toggle__slide-bg {
  left: 27px;
}

.body {
  background-color: hsl(222deg, 26%, 31%);
}/*# sourceMappingURL=main.css.map */